* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f7f7f7;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1400px;
    padding: 20px 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    color: #8FD3CE;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 20px;
}

nav a:hover {
    background: #b0e9e3;
    transform: scale(1.3);
    transition: all 0.5s;
}

.search-box {
    display: flex;
    align-items: center;
    background: #c5ebe7;
    padding: 6px 12px;
    border-radius: 20px;
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
}

.search-box button {
    border: none;
    background: transparent;
    cursor: pointer;
}

/* HERO */

.hero {
    display: flex;
    align-items: center;
    gap: 40px;
    background: #bfe6e2;
    border-radius: 25px;
    padding: 40px;
    margin-bottom: 60px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 16px;
    line-height: 1.6;
}

.hero img {
    width: 45%;
    border-radius: 20px;
    object-fit: cover;
}

/* ABOUT */

.about {
    text-align: center;
    margin-bottom: 60px;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about p {
    max-width: 800px;
    margin: 0 auto 15px;
    line-height: 1.7;
}


/* CTA */

.cta {
    background: #cdece9;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 60px;
}

.cta h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.btn {
    background: white;
    color: #4ba6a1;
    padding: 12px 28px;
    border-radius: 22px;
    text-decoration: none;
    font-weight: 600;
}
