* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    position: relative;
}

.login_register_bg_img{
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

form{
    background: white;
    position: absolute;
    padding: 2%;
    padding-bottom: 2%;
    border: 2px solid black;
	border-radius: 0.8rem;
	margin: 0.2rem;
	top: 25%;
	right: 41.5%;
    width: 20%;
    height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    align-items: center;
}

button{
    width: 40%;
    background: #c5ebe7;
    padding: 6px 12px;
    border-radius: 10px;
    margin-top: 3%;
}

label, #button_back{
    text-align: center;
    background: #c5ebe7;
    padding: 6px 12px;
    border-radius: 20px;
    width: 60%;
    margin-top: 3%;
}
h2{
    font-size: 32px;
    font-weight: 600;
    color: #8FD3CE;
    letter-spacing: 3px;
    margin-bottom: 10%;

}
h3{
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: #8FD3CE;
    letter-spacing: 1px;
    margin-bottom: 5%;

}
